*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    font-weight: bold;
background-repeat: repeat-x;
    color: rgba(255,255,255,0.1);
    background-image: url(./water.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    
}
div h1:hover{
    animation: animate 4s linear forwards;
}
@keyframes animate {
    0%{background-position: left 0px top 0px;}
    20%{background-position: left  400px top -40px;}
    40%{background-position: left 800px top -80px;}
    80%{ background-position: left 1200px top -140px }
    100%{background-position: left 1400px top -200px ;}
}